.wrapper{
  @apply max-w-[1380px] mx-auto px-4
}

body{
  @apply font-raleway;
}

html{

}

.swiper{
  @apply pb-12
}

.swiper-pagination-bullet{
  width:12px !important;
  height: 12px !important;
  background-color: rgba(255,255,255,.4) !important;
}