.wrapper{
  @apply max-w-[1380px] mx-auto px-4
}

body{
  @apply font-raleway;
}

.swiper{
  @apply pb-12
}

.swiper-pagination-bullet{
  width:12px !important;
  height: 12px !important;
  background-color: rgba(0,0,0,.5) !important;
}

.swiper-pagination-bullet-active{
  background-color: rgba(0,0,0) !important;
}